<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .content {
            flex-grow: 1;
        }
    </style>
    <title>@ViewData["Title"] - MyWebApiView</title>
</head>
<body class="container">
    <nav class="navbar navbar-light bg-light" align="center">
        <div> @await Component.InvokeAsync("LogoutView") </div>
    </nav>
    <div class="header" align="center">
        <h1>Записная книжка</h1>
    </div>
    <div class="content">
        @RenderBody()
    </div>

    <style>
        .container {
            padding-top: 10px;
        }

        .validation-summary-errors {
            color: #f00;
        }
    </style>

    <div align="center" class="footer">
        <p>&copy; 2023 - MyWebApiView - <a asp-area="" asp-controller="DataBook" asp-action="Index">Andrew</a></p><br>
    </div>
</body>
</html>
