@model string
 
<div align="center">
<div asp-validation-summary="All" class="text-danger"></div>
 
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" />
    </div>
    <p><button type="submit" class="btn btn-primary">Добавить</button></p>
    <p><a asp-action="Index">Назад</a></p>
</form>
</div>